.lobster-two-regular {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lobster-two-bold {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lobster-two-regular-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lobster-two-bold-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.material-symbols-outlined {
  color: white;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-top: 70px;
}

nav {
  background-color: black;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
}

nav a {
  font-size: xx-large;
  color: white;
  margin: .5rem;
  text-decoration: none;
}

a:hover {
  color: grey;
}

.nav__elements {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.homestore,
.accountinfo,
.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#carticon, #magnifyicon{
  font-size: xx-large;
}

.cart {
  float: right;
  margin-top: 3px;
}

.search input {
  min-height: 25px;
  height: 4vh;
  width: 25vw;
}

canvas{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.search input {
  min-height: 25px;
  height: 4vh;
  width: 25vw;
}

.card {
  border: 3px solid black;
  width: 15rem;
  display: inline-block;
  margin: 5px 30px 30px 30px;
  box-shadow: 12px 12px rgb(105, 105, 105);
}

.card-img-top {
  border: 3px solid grey;
  border-radius: 4rem;
  height: 30vh;
  object-fit: contain;
}

.cardlist {
  text-align: center;
}

.card-text {
  display: grid;
  place-items: center;
  padding: 5px;
  height: 230.8px;
  border: 3px solid black;
  border-radius: 10px;
}

.card-text2 {
  display: grid;
  place-items: center;
  height: 206.8px;
  border: 3px solid black;
  border-radius: 10px;
}